/* Eftersom olika webbläsare giver olika värden automatiskt, nollställer jag värdena här */
/* Ludvig B uppgift 2 */
*
{
	margin: 0em;
	padding: 0em;
}

body
{
	font-family: Verdana;
	background-color: #FFFFFF;
	color: #26231c;
}

noscript
{
	color: red;
}

/* Denna CSS gäller endast för små skärmar, som telefoners */
@media only screen and (max-width: 640px)
{
	/* Allt innehåll finns i denna div */
	#wrapper
	{
		width: 100%;
		height: auto;
		background-color: #f8f7ec;
	}
	
	#mainBanner h1
	{
		text-align: center;
	}
	
	#mainBanner h2
	{
		text-align: center;
	}
	
	.primaryNavigationMenu
	{
		display: block;
		flex-direction: column;
		list-style-type: none;
	}
	
	.primaryNavigationMenu li
	{

		margin-bottom: 0.25em;
		background-color: #26231c;
	}
	
	.primaryNavigationMenu a
	{
		color: #f8f7ec;
		display:        flex;
		flex-grow:      1;
		flex-shrink:    1;
		justify-content: flex-start;
		text-decoration: none;
		font-size: 1.5em;
		padding-left: 0.5em;
		padding-top: 0.25em;
		padding-bottom: 0.25em;
	}
	
	.primaryNavigationMenu a:visited
	{
		color: #f8f7ec;
	}
	
	.primaryNavigationMenu a:hover
	{
		background-color: #26231c;
		color: #e15bb1;
	}
	
	.primaryNavigationMenu a:focus
	{
		background-color: #26231c;
		color: #e15bb1;
	}
		
	.primaryNavigationMenu a:active
	{
		background-color: #e15bb1;
		color: #26231c;
	}
	
	main
	{
		color: #000000;
	}
	
	main p
	{
		margin-top: 0.25em;
		margin-bottom: 0.25em;
		margin-left: 0.5em;
	}
	
	img
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: auto;
	}
	
	th
	{
		padding-left: 0.5em;
		padding-top: 0.5em;
		text-align: left;
	}
	
	td
	{
		padding-left: 0.5em;
	}
	
	#breadMenu
	{
		font-size: 16px;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		width: 55%;
	}
	
	#amountMenu
	{
		position: relative;
		right: 3px;
		font-size: 16px;
		width: auto;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
	
	#timeMenu
	{
		display: block;
		font-size: 16px;
		width: 55%;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
	
	.orderInputs
	{
		width: 55%;
	}
	
	#submitButton
	{
		width: 55%;
	}
	
	#tableArea
	{
		height: 20em;
		width: 100%;
	}
	
	#orderTable
	{
		width: 100%;
	}
	
	select
	{
		margin-left: 0.5em;
		margin-top: 0.5em;
	}
	
	#orderForm
	{
		width: 100%;
		height: auto;
	}
	
	#orderButtons
	{
		margin-top: 0.5em;

		list-style-type: none;
		width: 100%;
	}
	
	#orderButtons li
	{
		width: 100%;
		margin-bottom: 0.25em;
		display: flex;
	}
	
	#orderButtons button
	{
		display: flex;
		justify-content: center;
		flex-grow: 1;
		flex-shrink: 1;
		background-color: #26231c;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		color: #f8f7ec;
		text-decoration: none;
		font-size: 1em;
		cursor: pointer;
	  border: 0;
		font: inherit;
	}
	
	#orderButtons button:focus
	{
		background-color: #26231c;
		color: #e15bb1;
		outline: 0;
	}
	
	#orderButtons button:hover
	{
		background-color: #26231c;
		color: #e15bb1;
	}
		
	#orderButtons button:active
	{
		background-color: #e15bb1;
		color: #26231c;
	}
	
	.register
	{
		box-sizing: border-box;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		margin-left: 0.5em;
		display: block;
		width: 50%;
		height: 2.5em;
		font-size: 1em;
	}
	
	input
	{
		box-sizing: border-box;
		margin: 0.5em;
		display: block;
		width: 50%;
		height: 2.5em;
		font-size: 1em;
	}
	
	label
	{
		margin: 0.5em;
	}	
	
	#mainFooter
	{
		padding-top: 0.25em;
		padding-bottom: 0.25em;
		padding-left: 0.5em;
		font-size: 0.8em;
		font-family: times-new-roman;
		background-color: #26231c;
		color: #CEAA70
	}
	
	#hugeText
	{
		text-align: center;
		color: #26231c;
		font-size: 3em;
		padding: 0em;
		margin: 0.5em;
	}
}

/* Denna CSS gäller endast för mellanstora skärmar, som ipads */
@media screen and (min-width: 641px) and (max-width: 959px)
{
	/* Allt innehåll finns i denna div */
	#wrapper
	{
		width: 100%;
		height: auto;
		background-color: #f8f7ec;
	}
	
	#mainBanner h1
	{
		text-align: center;
	}
	
	#mainBanner h2
	{
		margin-bottom: 3px;
		text-align: center;
	}
	
	.primaryNavigationMenu
	{
		display: flex;
		width: 100%;
		flex-direction: row;
		list-style-type: none;
	}
	
	.primaryNavigationMenu li
	{
		text-align: center;
		flex: 1 1 auto;
		margin-left: 0.125em;
		background-color: #26231c;
	}
	
	#firstLi
	{
		margin-left: 0em;
	}
	
	.primaryNavigationMenu a
	{
		color: #f8f7ec;
		display: flex;
		flex-grow: 1;
		flex-shrink: 1;
		justify-content: center;
		text-decoration: none;
		font-size: 1.6em;
		padding-top: 0.115em;
		padding-bottom: 0.115em;
	}
	
	.primaryNavigationMenu a:visited
	{
		color: #f8f7ec;
	}
	
	.primaryNavigationMenu a:hover
	{
		background-color: #26231c;
		color: #e15bb1;
	}
	
	.primaryNavigationMenu a:focus
	{
		background-color: #26231c;
		color: #e15bb1;
	}
		
	.primaryNavigationMenu :active
	{
		background-color: #e15bb1;
		color: #26231c;
	}
		
	main p
	{
		padding-top: 0.33em;
		padding-bottom: 0.33em;
	}
	
	img
	{
		padding-top: 0.33em;
		padding-bottom: 0.33em;
		padding-right: 0.5em;
		float: left;
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 50%;
		height: auto;
	}
	
	.flexContainer
	{
		display: flex;
		flex-direction: row;
	}
	
	#formArea
	{

		width: 25%;
		height: 500px;
	}
	
	#buttonArea
	{

		width: 13.2%;
		height: 500px;
	}
	
	#tableArea
	{
		
		width: 61.8%;
		height: 500px;
	}
	
	select
	{
		margin-left: 0.5em;
		margin-top: 0.5em;
	}
	
	#orderForm
	{
		float: left;
		box-sizing: border-box;
		width: 100%;
	}
	
	#orderTable
	{
		width: 100%;
	}
	
	th
	{
		padding-left: 0.5em;
		padding-top: 0.5em;
		text-align: left;
	}
	
	td
	{
		padding-left: 0.5em;
	}
	
	#breadMenu
	{
		font-size: 16px;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		width: 55%;
	}
	
	#amountMenu
	{
		position: relative;
		right: 3px;
		font-size: 16px;
		width: auto;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
	
	#timeMenu
	{
		display: block;
		font-size: 16px;
		width: 55%;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
	
	
	.orderInputs
	{
		width: 55%;
	}
	
	#submitButton
	{
		width: 55%;
	}
	
	#orderButtons
	{
		margin-top: 0.5em;

		list-style-type: none;
		width: 100%;
	}
	
	#orderButtons li
	{
		width: 100%;
		margin-bottom: 0.25em;
		display: flex;
	}
	
	#orderButtons button
	{
		display: flex;
		justify-content: center;
		flex-grow: 1;
		flex-shrink: 1;
		background-color: #26231c;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		color: #f8f7ec;
		text-decoration: none;
		font-size: 1em;
		cursor: pointer;
	  border: 0;
		font: inherit;
	}
		
	#orderButtons button:focus
	{
		background-color: #26231c;
		color: #e15bb1;
		outline: 0;
	}
		
	#orderButtons button:active
	{
		background-color: #e15bb1;
		color: #26231c;
	}
	
	.register
	{
		box-sizing: border-box;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		margin-left: 0.5em;
		display: block;
		width: 50%;
		height: 2.5em;
		font-size: 1em;
	}
	
	input
	{
		box-sizing: border-box;
		margin: 0.5em;
		display: block;
		width: 50%;
		height: 2.5em;
		font-size: 1em;
	}
	
	label
	{
		margin: 0.5em;
	}
	
	#mainFooter
	{
		padding-left: 0.5em;
		padding-bottom: 0.25em;
		padding-top: 0.25em;
		clear: left;
		font-size: 0.75em;
		background-color: #26231c;
		color: #f1eacb;
	}
	
	#hugeText
	{
		text-align: center;
		color: #26231c;
		font-size: 4em;
		padding: 0.25em;
	}
	
}

/* Den här CSSen gäller endast för stora skärmar, som vanliga datorers */
@media only screen and (min-width: 960px)
{
	body
	{
		font-size: 16px;
		background-color: #f6f5ea;
	}
	
	/* Allt innehåll finns i denna div */
	#wrapper
	{
		background-color: #f8f7ec;
		position: absolute;
		left: 50%;
		margin-left: -480px;
		width: 960px;
		height: auto;
	}
	
	#mainBanner h1
	{
		margin-bottom: 6px;
		margin-top: 4px;
		text-align: center;
	}
	
	#mainBanner h2
	{
		margin-bottom: 3px;
		text-align: center;
	}
	

	
	.primaryNavigationMenu
	{
		display: flex;
		width: 100%;
		flex-direction: row;
		list-style-type: none;
	}
	
	.primaryNavigationMenu li
	{
		text-align: center;
		flex: 1 1 auto;
		margin-left: 0.125em;
		background-color: #26231c;
	}
	
	.primaryNavigationMenu a
	{
		color: #f8f7ec;
		display: flex;
		flex-grow: 1;
		flex-shrink: 1;
		justify-content: center;
		text-decoration: none;
		font-size: 2em;
		padding-top: 0.115em;
		padding-bottom: 0.115em;
	}
	
	.primaryNavigationMenu a:hover
	{
		background-color: #26231c;
		color: #e15bb1;
	}
	
	.primaryNavigationMenu a:focus
	{
		background-color: #26231c;
		color: #e15bb1;
	}
		
	.primaryNavigationMenu a:active
	{
		background-color: #e15bb1;
		color: #26231c;
	}
	
	main p
	{
		padding-top: 0.33em;
		padding-bottom: 0.33em;
	}
	
	#firstLi
	{
		margin-left: 0em;
	}

	img
	{
		padding-top: 0.33em;
		padding-bottom: 0.33em;
		padding-right: 0.5em;
		float: left;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 38.2%;		
	}
	
	.flexContainer
	{
		display: flex;
		flex-direction: row;
	}
	
	#formArea
	{

		width: 25%;
		height: 500px;
	}
	
	#buttonArea
	{

		width: 13.2%;
		height: 500px;
	}
	
	#tableArea
	{
		
		width: 61.8%;
		height: 500px;
	}
	
	select
	{
		margin-left: 0.5em;
		margin-top: 0.5em;
	}
		
	#orderForm
	{
		float: left;
		box-sizing: border-box;
		width: 100%;
	}
	
	#orderTable
	{
		width: 100%;
	}
	
	th
	{
		padding-left: 0.5em;
		padding-top: 0.5em;
		text-align: left;
	}
	
	td
	{
		padding-left: 0.5em;
	}
	
	#breadMenu
	{
		font-size: 16px;

		width: 55%;
	}
	
	#amountMenu
	{
		position: relative;
		right: 3px;
		font-size: 16px;
		width: auto;
	}
	
	#timeMenu
	{
		display: block;
		font-size: 16px;
		width: 55%;
	}
	
	.orderInputs
	{
		width: 55%;
	}
	
	#submitButton
	{
		width: 55%;
		
	}
	
	#orderButtons
	{
		margin-top: 0.5em;

		list-style-type: none;
		width: 100%;
	}
	
	#orderButtons li
	{
		width: 100%;
		margin-bottom: 0.25em;
		display: flex;
	}
	
	#orderButtons button
	{
		display: flex;
		justify-content: center;
		flex-grow: 1;
		flex-shrink: 1;
		background-color: #26231c;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		color: #f8f7ec;
		text-decoration: none;
		font-size: 1em;
		cursor: pointer;
	  border: 0;
		font: inherit;
	}
	
	#orderButtons button:hover
	{
		background-color: #26231c;
		color: #e15bb1;
	}
	
	#orderButtons button:focus
	{
		background-color: #26231c;
		color: #e15bb1;
		outline: 0;
	}
		
	#orderButtons button:active
	{
		background-color: #e15bb1;
		color: #26231c;
	}

	.register
	{
		box-sizing: border-box;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		margin-left: 0.5em;
		display: block;
		width: 50%;
		height: 2.5em;
		font-size: 1em;
	}
			
	input
	{
		margin-left: 0.5em;
		margin-top: 0.5em;
		font-size: 16px;
	}
	
	label
	{
		margin: 0.5em;
	}
	
	#mainFooter
	{
		padding-left: 0.5em;
		padding-bottom: 0.5em;
		padding-top: 0.5em;
		clear: left;
		font-size: 0.75em;
		background-color: #26231c;
		color: #f8f7ec;
	}
	
	#hugeText
	{
		text-align: center;
		color: #26231c;
		font-size: 7em;
	}
	
}